{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": {
        "node": true,
        "es6": true
    },
    "plugins": [
        "@typescript-eslint",
        "@stylistic",
        "simple-import-sort",
        "unused-imports"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react-hooks/recommended",
        "plugin:@stylistic/recommended-extends",
        "plugin:@stylistic/disable-legacy"
    ],
    "ignorePatterns": [
        "src/repository/types/checks/generated/"
    ],
    "rules": {
        "@stylistic/arrow-spacing": [
            "warn",
            {
                "after": true,
                "before": true
            }
        ],
        "@stylistic/arrow-parens": [
            "warn",
            "always"
        ],
        "@stylistic/brace-style": [
            "error",
            "1tbs"
        ],
        "@stylistic/comma-dangle": [
            "warn",
            "always-multiline"
        ],
        "@stylistic/comma-spacing": "error",
        "@stylistic/dot-location": [
            "error",
            "property"
        ],
        "@stylistic/func-call-spacing": "error",
        "@stylistic/indent": [
            "error",
            2
        ],
        "@stylistic/jsx-one-expression-per-line": [
            "warn",
            {
                "allow": "non-jsx"
            }
        ],
        "@stylistic/key-spacing": "warn",
        "@stylistic/keyword-spacing": "error",
        "@stylistic/lines-between-class-members": "warn",
        "@stylistic/max-statements-per-line": [
            "error",
            {
                "max": 2
            }
        ],
        "@stylistic/member-delimiter-style": [
            "warn",
            {
                "multiline": {
                    "delimiter": "semi",
                    "requireLast": true
                },
                "singleline": {
                    "delimiter": "semi",
                    "requireLast": false
                }
            }
        ],
        "@stylistic/new-parens": "error",
        "@stylistic/no-confusing-arrow": "warn",
        "@stylistic/no-floating-decimal": "error",
        "@stylistic/no-multi-spaces": "error",
        "@stylistic/no-multiple-empty-lines": [
            "error",
            {
                "max": 2,
                "maxBOF": 0,
                "maxEOF": 1
            }
        ],
        "@stylistic/no-trailing-spaces": [
            "error"
        ],
        "@stylistic/no-whitespace-before-property": "error",
        "@stylistic/object-curly-spacing": [
            "warn",
            "always"
        ],
        "@stylistic/quote-props": [
            "warn",
            "as-needed",
            {
                "unnecessary": false
            }
        ],
        "@stylistic/quotes": [
            "warn",
            "double"
        ],
        "@stylistic/semi": [
            "error",
            "always"
        ],
        "@stylistic/space-before-blocks": "error",
        "@stylistic/space-before-function-paren": [
            "error",
            {
                "anonymous": "never",
                "asyncArrow": "always",
                "named": "never"
            }
        ],
        "@stylistic/space-infix-ops": "error",
        "@stylistic/spaced-comment": "error",
        "@typescript-eslint/no-empty-function": [
            "error",
            {
                "allow": [
                    "private-constructors"
                ]
            }
        ],
        "@typescript-eslint/no-unused-vars": "off",
        "arrow-body-style": "warn",
        "camelcase": "warn",
        "curly": [
            "warn",
            "multi-line",
            "consistent"
        ],
        "default-param-last": "error",
        "eqeqeq": "error",
        "guard-for-in": "error",
        "max-nested-callbacks": [
            "warn",
            {
                "max": 4
            }
        ],
        "no-empty-function": "off",
        "no-lonely-if": "warn",
        "no-return-assign": "error",
        "no-shadow": "error",
        "no-unneeded-ternary": "warn",
        "no-useless-return": "error",
        "no-var": "error",
        "prefer-const": "warn",
        "simple-import-sort/exports": "error",
        "simple-import-sort/imports": "error",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
            "warn",
            {
                "args": "after-used",
                "argsIgnorePattern": "^_",
                "vars": "all",
                "varsIgnorePattern": "^_"
            }
        ]
    }
}